.container {
  width: 250px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  display: block;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.container > input {
  border: none;
  outline: none;
}
.userCardContainer {
  width: 90%;
  height: 400px;
  background-color: white;
  margin: auto;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 200px;
  height: 250px;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 10px;
}
.profileimg {
  width: 90px;
  display: block;
  margin: auto;
}
.profileimg ~ p {
  text-align: center;
  font-weight: bolder;
}
.request {
  border: none;
  outline: none;
  position: relative;
  right: -150px;
  margin: 20px;
  cursor: pointer;
}
.request svg {
  width: 20px !important;
}
